---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
---

<BaseLayout title="David Lormor's Personal Website | About Me">
  <Prose>
    <h1>About Me</h1>
  </Prose>
</BaseLayout>
